.move-up {
    top: 70px !important;
    right: 0.5em !important;
}
.move-up button {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 25px!important;
    width: 25px!important;
}
