.move-up {
    top: 70px!important;
    right: 5px!important;
    color: var(--primary-high)!important;    
}
.move-up button {
    height: 25px!important;
    width: 25px!important;
    background: none!important;  
}
